*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;

}
.main-container{
  height: 100vh;;
  color: aliceblue;
  padding: 2rem;
  font-family: sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
}
.middle-section h1{
  text-align: center;
  margin: 1rem;
}
.middle-section{
  text-align: center;
}
.middle-section h2{
  display: inline;
  border: solid whitesmoke;
  color: black;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 3rem;
}
.input-field{
  background-color: black;
  border-color: whitesmoke;
  color: whitesmoke;
  padding: 0.25rem;
}
.check-btn{
  display: block;
  margin-top: 1rem;
}
.bottom-section{
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.btn{
  font-size: large;
  padding: 1rem;
  border-radius: 0.25rem;
}
.btn:hover{
  font-size: large;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: beige;
  transition: 0.25s;
}
/* .result-details{
margin: 1rem;
} */
.result-details p:first-child{
  margin-bottom: 1rem;
}
